<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Shakespeare</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>
                <a href="https://tr.wikipedia.org/wiki/William_Shakespeare"
                   target="_blank">Author Introduction</a>
            </h1>
            <div class="img-container">
                <img class="img" src="~/images/author-box.png" width="150" height="100" />
            </div>
        </div>
        <div class="wrapper">
            <div class="content">
                <p><strong>Author Introduction</strong></p>
                <p>
                    Dostoevsky is a Russian writer known for his depth of character
                    analysis and the complexity of human psychology in the literary
                    world. He frequently explores themes such as social injustice, moral
                    dilemmas, and existential crises in his works. His most famous
                    novels include "Crime and Punishment" and "The Brothers Karamazov."
                    Dostoevsky offers a profound perspective on the complexity of human
                    nature and inner conflicts in the literary world.
                </p>
                <p>
                    Tolstoy is one of the foremost figures in Russian literature,
                    renowned for his extensive novels. He often delves into various
                    aspects of Russian society while focusing on existential inquiries
                    of humanity. His most notable works include "War and Peace" and
                    "Anna Karenina." Tolstoy's writings delve deep into the complexity
                    of human relationships and the effects of societal change.
                </p>
                <p>
                    Victor Hugo is a prominent figure in French literature and is
                    considered one of the precursors of Romanticism. He explores themes
                    such as passion, justice, and social injustice in his works. His
                    most famous novels include "Les Misérables" and "The Hunchback of
                    Notre-Dame." Hugo's writings are filled with emotional depth and
                    social criticism, prompting readers to contemplate the complexity of
                    humanity.
                </p>
                <p>
                    Shakespeare is one of the greatest names in English literature and
                    is regarded as one of the most important figures in Western
                    literature. His plays are known for their deep character analysis
                    and rich use of language, delving into the depths of human nature.
                    His most famous works include "Hamlet," "Macbeth," "Romeo and
                    Juliet," and "Othello." Shakespeare has produced works in various
                    genres such as tragedy, comedy, history, and romance, leaving a
                    lasting impact that transcends his time.
                </p>
            </div>
        </div>
        <div class="navigation">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Main Page</a></li>
                <li><a asp-controller="Home" asp-action="Dostoyevsky">Dostoyevsky</a></li>
                <li><a asp-controller="Home" asp-action="Tolstoy">Tolstoy</a></li>
                <li><a asp-controller="Home" asp-action="VictorHugo">Victor Hugo</a></li>
                <li><a asp-controller="Home" asp-action="Shakespeare">William Shakespeare</a></li>
                <li><a asp-controller="Home" asp-action="SignIn">Sign in</a></li>
            </ul>
        </div>

        <div class="extra">
            <p><strong>Authorship</strong></p>
            <p>
                Writers are artists who use words to express thoughts, feelings, and
                imaginations, captivating readers with their unique styles and
                transporting them to different worlds. Through the power of language,
                writers not only tell stories but also shape perspectives, making them
                individuals who change the world with their words.
            </p>
        </div>
        <div class="footer">
            <p>Footer</p>
        </div>
    </div>
</body>
</html>
