@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Shakespeare</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>
                <a href="https://tr.wikipedia.org/wiki/William_Shakespeare"
                   target="_blank">William Shakespeare</a>
            </h1>
            <div class="img-container">
                <a href="https://tr.wikipedia.org/wiki/William_Shakespeare"
                   class="img-link"
                   target="_blank">
                    <img class="img" src="~/images/Shakespeare.jpg" width="150" height="100" />
                </a>
            </div>
        </div>
        <div class="wrapper">
            <div class="content">
                <p><strong>William Shakespeare</strong></p>
                <p>
                    William Shakespeare, often hailed as the Bard of Avon, stands as a
                    towering figure in the realm of English literature, his works having
                    left an indelible mark on the world's cultural landscape. Born in
                    1564 in Stratford-upon-Avon, England, Shakespeare's life remains
                    shrouded in mystery in many aspects, yet his literary legacy shines
                    brightly through his timeless plays, poetry, and sonnets.
                </p>
                <p>
                    Shakespeare's literary prowess encompasses a vast array of genres,
                    from tragedies like "Hamlet," "Othello," and "Macbeth" to comedies
                    such as "A Midsummer Night's Dream," "Twelfth Night," and "Much Ado
                    About Nothing." His ability to delve into the complexities of the
                    human condition, to capture the essence of love, jealousy, ambition,
                    and despair, remains unparalleled.
                </p>
                <p>
                    Central to Shakespeare's enduring appeal is his masterful use of
                    language. His words, rich with imagery, metaphor, and wordplay,
                    continue to resonate with audiences across centuries and cultures.
                    From iconic soliloquies to memorable dialogues, Shakespeare's
                    language transcends the confines of time, inviting readers and
                    spectators alike into a world of profound beauty and insight.
                </p>
                <p>
                    Beyond his literary contributions, Shakespeare's influence extends
                    to the very fabric of the English language itself. He coined
                    countless words and phrases that have since become ingrained in
                    everyday speech, ensuring his lasting impact on the way we
                    communicate and perceive the world around us. In essence,
                    Shakespeare remains not only a literary giant but also a cultural
                    icon whose legacy endures through the ages.
                </p>
            </div>
        </div>
        <div class="navigation">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Main Page</a></li>
                <li><a asp-controller="Home" asp-action="Dostoyevsky">Dostoyevsky</a></li>
                <li><a asp-controller="Home" asp-action="Tolstoy">Tolstoy</a></li>
                <li><a asp-controller="Home" asp-action="VictorHugo">Victor Hugo</a></li>
                <li><a asp-controller="Home" asp-action="Shakespeare">William Shakespeare</a></li>
                <li><a asp-controller="Home" asp-action="SignIn">Sign in</a></li>
            </ul>
        </div>

        <div class="extra">
            <p><strong>Authorship</strong></p>
            <p>
                Writers are artists who use words to express thoughts, feelings, and
                imaginations, captivating readers with their unique styles and
                transporting them to different worlds. Through the power of language,
                writers not only tell stories but also shape perspectives, making them
                individuals who change the world with their words.
            </p>
        </div>
        <div class="footer">
            <p>Footer</p>
        </div>
    </div>
</body>
</html>

