@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Tolstoy</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>
                <a href="https://tr.wikipedia.org/wiki/Lev_Tolstoy" target="_blank">Tolstoy</a>
            </h1>
            <div class="img-container">
                <a href="https://tr.wikipedia.org/wiki/Lev_Tolstoy"
                   class="img-link"
                   target="_blank">
                    <img class="img" src="~/images/tolstoy.jpg" width="150" height="100" />
                </a>
            </div>
        </div>
        <div class="wrapper">
            <div class="content">
                <p><strong>Tolstoy</strong></p>
                <p>
                    Leo Tolstoy, a towering figure in world literature, was born in 1828
                    into a noble family in Russia. Tolstoy's early years were marked by
                    privilege, but also by inner turmoil and a search for meaning. He
                    served in the military, traveled extensively, and engaged deeply
                    with the social and philosophical currents of his time. However, it
                    was through his writing that Tolstoy truly left his mark on the
                    world.
                </p>
                <p>
                    Tolstoy's literary genius is perhaps most prominently displayed in
                    his monumental works, particularly "War and Peace" and "Anna
                    Karenina." These novels are not just narratives; they are sprawling
                    tapestries of life, weaving together the threads of history,
                    society, and individual human experience. Tolstoy's keen insight
                    into the human psyche allows him to delve into the complexities of
                    love, morality, and the human condition with unparalleled depth and
                    precision.
                </p>
                <p>
                    Beyond his fiction, Tolstoy was a moral philosopher and social
                    critic. His later works, such as "The Kingdom of God Is Within You"
                    and "What Is Art?," reflect his evolving beliefs and his growing
                    disillusionment with the institutions of his time. Tolstoy's
                    philosophy of nonviolent resistance and his emphasis on living a
                    simple, meaningful life had a profound influence on figures like
                    Mahatma Gandhi and Martin Luther King Jr., shaping the course of
                    history.
                </p>
                <p>
                    Despite his fame and influence, Tolstoy remained a deeply conflicted
                    and introspective individual, grappling with questions of faith,
                    mortality, and the nature of existence until his death in 1910. His
                    legacy endures not only in his literary masterpieces but also in his
                    profound impact on the fields of literature, philosophy, and social
                    activism. Tolstoy's enduring relevance lies in his ability to speak
                    to the universal aspects of the human experience, offering insights
                    that continue to resonate with readers around the world.
                </p>
            </div>
        </div>
        <div class="navigation">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Main Page</a></li>
                <li><a asp-controller="Home" asp-action="Dostoyevsky">Dostoyevsky</a></li>
                <li><a asp-controller="Home" asp-action="Tolstoy">Tolstoy</a></li>
                <li><a asp-controller="Home" asp-action="VictorHugo">Victor Hugo</a></li>
                <li><a asp-controller="Home" asp-action="Shakespeare">William Shakespeare</a></li>
                <li><a asp-controller="Home" asp-action="SignIn">Sign in</a></li>
            </ul>
        </div>

        <div class="extra">
            <p><strong>Authorship</strong></p>
            <p>
                Writers are artists who use words to express thoughts, feelings, and
                imaginations, captivating readers with their unique styles and
                transporting them to different worlds. Through the power of language,
                writers not only tell stories but also shape perspectives, making them
                individuals who change the world with their words.
            </p>
        </div>
        <div class="footer">
            <p>Footer</p>
        </div>
    </div>
</body>
</html>
