@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Victor Hugo</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>
                <a href="https://tr.wikipedia.org/wiki/Victor_Hugo" target="_blank">Victor Hugo</a>
            </h1>
            <div class="img-container">
                <a href="https://tr.wikipedia.org/wiki/Victor_Hugo"
                   class="img-link"
                   target="_blank">
                    <img class="img" src="~/images/hugo.jpg" width="150" height="100" />
                </a>
            </div>
        </div>
        <div class="wrapper">
            <div class="content">
                <p><strong>Victor Hugo</strong></p>
                <p>
                    Victor Hugo, a towering figure in French literature, was born on
                    February 26, 1802, in Besançon, France. Renowned for his versatility
                    as a poet, novelist, and playwright, Hugo's works often explore
                    profound themes of love, justice, and the human condition. His
                    literary career began with poetry, where he gained recognition for
                    his lyrical prowess and emotional depth. Influenced by the Romantic
                    movement, Hugo's early works, such as "Les Contemplations" and "Les
                    Misérables," captured the essence of human emotion with unparalleled
                    intensity.
                </p>
                <p>
                    As a novelist, Hugo crafted sprawling narratives that delved into
                    the complexities of society and morality. "Les Misérables," arguably
                    his most famous work, paints a vivid portrait of early 19th-century
                    France, exposing the harsh realities of poverty and injustice while
                    championing the resilience of the human spirit. Through
                    unforgettable characters like Jean Valjean and Inspector Javert,
                    Hugo masterfully weaves a tapestry of compassion and redemption,
                    leaving an indelible mark on literature and inspiring countless
                    adaptations across various media.
                </p>
                <p>
                    Beyond his literary contributions, Hugo was also a staunch advocate
                    for social and political change. His involvement in the French
                    Revolution of 1848 and his staunch opposition to the death penalty
                    reflect his unwavering commitment to progressive ideals. Hugo's
                    activism extended beyond his pen, as he used his platform to
                    champion causes such as the abolition of slavery and the protection
                    of human rights. His impassioned speeches and writings continue to
                    resonate with readers and activists alike, serving as a timeless
                    reminder of the power of literature to effect change.
                </p>
                <p>
                    Victor Hugo's legacy transcends the boundaries of time and language,
                    his works enduring as timeless classics that continue to captivate
                    and inspire readers around the world. From the stirring verses of
                    his poetry to the epic narratives of his novels, Hugo's influence on
                    literature and society remains profound. As a visionary artist and
                    passionate advocate for justice, Victor Hugo's life and work serve
                    as a testament to the enduring power of compassion, imagination, and
                    the written word.
                </p>
            </div>
        </div>
        <div class="navigation">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Main Page</a></li>
                <li><a asp-controller="Home" asp-action="Dostoyevsky">Dostoyevsky</a></li>
                <li><a asp-controller="Home" asp-action="Tolstoy">Tolstoy</a></li>
                <li><a asp-controller="Home" asp-action="VictorHugo">Victor Hugo</a></li>
                <li><a asp-controller="Home" asp-action="Shakespeare">William Shakespeare</a></li>
                <li><a asp-controller="Home" asp-action="SignIn">Sign in</a></li>
            </ul>
        </div>

        <div class="extra">
            <p><strong>Authorship</strong></p>
            <p>
                Writers are artists who use words to express thoughts, feelings, and
                imaginations, captivating readers with their unique styles and
                transporting them to different worlds. Through the power of language,
                writers not only tell stories but also shape perspectives, making them
                individuals who change the world with their words.
            </p>
        </div>
        <div class="footer">
            <p>Footer</p>
        </div>
    </div>
</body>
</html>
